<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Earning History Report</title>

		<style>
			@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

			.header {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 2rem 4rem;
			}
			.header_title {
				size: 3rem;
				color: #d12627;
				margin-left: 1rem;
				font-family: sans-serif;
			}
			.info {
				padding: 1rem;
				display: flex;
				max-width: 700px;
				margin: auto;
				font-family: sans-serif;
			}
			.left,
			.right {
				width: 50%;
			}
			.right > .info_name {
				text-align: right;
				font-family: sans-serif;
			}

			.title {
				text-align: center;
				font-size: 1.5rem;
				font-weight: 700;
				margin-bottom: 1rem;

				font-family: sans-serif;
			}

			.table_header_th {
				padding-top: 12px;
				padding-left: 1rem;
				padding-bottom: 12px;
				text-align: center;
				background-color: #e77161;
				color: white;
				font-family: sans-serif;
			}
			.table_row > td {
				padding-top: 12px;
				padding-left: 1rem;
				padding-bottom: 12px;
				text-align: left;
				font-family: "Montserrat", sans-serif;
				background-color: #f2f2f2;
				color: black;
			}
			.table_center_c {
				text-align: left;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<div class="logo">
				<svg
					width="90"
					height="37"
					viewBox="0 0 90 37"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<rect
						x="55.9863"
						y="5.95026"
						width="3.2456"
						height="1.6228"
						fill="#D12627"
					/>
					<rect
						x="64.6411"
						y="5.95026"
						width="3.2456"
						height="1.6228"
						fill="#D12627"
					/>
					<path
						d="M67.8869 5.95026C67.8869 5.16886 67.7329 4.39511 67.4339 3.67319C67.1349 2.95128 66.6966 2.29532 66.1441 1.74279C65.5915 1.19026 64.9356 0.751965 64.2137 0.452937C63.4917 0.153908 62.718 -3.41561e-08 61.9366 0C61.1552 3.41561e-08 60.3814 0.153908 59.6595 0.452937C58.9376 0.751966 58.2817 1.19026 57.7291 1.74279C57.1766 2.29532 56.7383 2.95128 56.4393 3.6732C56.1402 4.39511 55.9863 5.16886 55.9863 5.95026L59.2341 5.95026C59.2341 5.59537 59.304 5.24395 59.4398 4.91607C59.5756 4.58819 59.7747 4.29027 60.0256 4.03932C60.2766 3.78837 60.5745 3.58931 60.9024 3.4535C61.2303 3.31768 61.5817 3.24778 61.9366 3.24778C62.2915 3.24778 62.6429 3.31768 62.9708 3.4535C63.2987 3.58931 63.5966 3.78837 63.8475 4.03932C64.0985 4.29027 64.2975 4.58819 64.4334 4.91607C64.5692 5.24395 64.6391 5.59537 64.6391 5.95026H67.8869Z"
						fill="#D12627"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M87.8801 24.9207C89.0747 28.0876 89.4155 31.4505 89.4869 34.8654C89.5055 35.7555 88.7849 36.481 87.9015 36.512V36.513H87.8488C87.8468 36.513 87.8447 36.513 87.8426 36.513C87.8406 36.513 87.8385 36.513 87.8365 36.513L47.1965 36.513H45.7089L45.7125 36.5052C45.6597 36.5104 45.6062 36.513 45.5521 36.513H40.3277C39.9264 36.513 39.5331 36.4734 39.1525 36.398V36.513H34.3135V33.2136H35.0591C34.7034 32.4043 34.5565 31.4913 34.6853 30.5281C34.9514 28.5395 35.3912 26.5888 36.0858 24.7477C37.4722 21.0725 39.339 17.6886 41.9008 14.8757C44.4625 12.0628 47.7496 9.77161 51.0966 8.24928C54.4437 6.72695 58.1572 5.95032 61.7801 5.95032C65.4029 5.95032 69.2516 6.72695 72.5987 8.24928C75.9458 9.77161 79.3681 12.0628 81.9298 14.8757C84.4916 17.6886 86.4937 21.2455 87.8801 24.9207ZM47.175 33.2674C47.175 30.7279 47.8124 28.3111 48.7978 25.9649C49.7832 23.6187 51.3044 21.6752 53.1253 19.8795C54.9461 18.0837 57.2374 16.659 59.6165 15.6871C61.9955 14.7153 64.6145 13.9291 67.1895 13.9291C69.7646 13.9291 72.3835 14.1744 74.7626 15.1462C77.1416 16.1181 79.0272 17.5427 80.8481 19.3385C82.6689 21.1342 83.7793 23.6561 84.7648 26.0023C85.7502 28.3485 86.2574 30.7279 86.2574 33.2674H47.175Z"
						fill="#D12627"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M36.2422 32.7264H21.9074V36.513H36.2422V32.7264ZM20.5687 35.9585C20.9237 36.3135 21.4053 36.513 21.9074 36.513L21.9074 34.6197V32.7265C21.4053 32.7265 20.9237 32.9259 20.5687 33.281C20.2136 33.636 20.0142 34.1176 20.0142 34.6197C20.0142 35.1218 20.2136 35.6034 20.5687 35.9585Z"
						fill="#D12627"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M50.5772 8.65491H23.2601V12.4414H50.5772V8.65491ZM21.9212 11.887C22.2763 12.242 22.7578 12.4415 23.26 12.4415L23.26 10.5482V8.65495C22.7578 8.65495 22.2763 8.85442 21.9212 9.20947C21.5662 9.56453 21.3667 10.0461 21.3667 10.5482C21.3667 11.0503 21.5662 11.5319 21.9212 11.887Z"
						fill="#D12627"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M29.7645 20.0009C30.1195 20.356 30.6011 20.5555 31.1032 20.5555V18.6622L31.1032 16.7689C30.6011 16.7689 30.1195 16.9684 29.7645 17.3234C29.4094 17.6785 29.21 18.1601 29.21 18.6622C29.21 19.1643 29.4094 19.6459 29.7645 20.0009ZM40.5697 16.7689H31.1033V20.5555H40.5697V16.7689Z"
						fill="#D12627"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M8.65452 32.7264H16.2275H16.2276C16.7297 32.7265 17.2112 32.9259 17.5662 33.281C17.9213 33.636 18.1207 34.1176 18.1207 34.6197C18.1207 35.1218 17.9213 35.6034 17.5662 35.9584C17.2112 36.3135 16.7297 36.5129 16.2276 36.513H16.2275H8.65452V32.7264ZM7.31575 35.9585C7.67081 36.3135 8.15237 36.513 8.6545 36.513L8.6545 34.6197V32.7265C8.15237 32.7265 7.67081 32.9259 7.31575 33.281C6.9607 33.636 6.76123 34.1176 6.76123 34.6197C6.76123 35.1218 6.9607 35.6034 7.31575 35.9585Z"
						fill="#D12627"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M19.2161 28.1149C19.5712 28.47 20.0528 28.6694 20.5549 28.6694L20.5549 26.7762V24.8829C20.0528 24.8829 19.5712 25.0824 19.2161 25.4374C18.8611 25.7925 18.6616 26.274 18.6616 26.7762C18.6616 27.2783 18.8611 27.7599 19.2161 28.1149ZM36.5125 24.8829H20.555V28.6695H36.5125V24.8829Z"
						fill="#D12627"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M1.90706 28.1149C2.26212 28.47 2.74368 28.6694 3.2458 28.6694V26.7762L3.2458 24.8829C2.74368 24.8829 2.26212 25.0824 1.90706 25.4374C1.55201 25.7925 1.35254 26.274 1.35254 26.7762C1.35254 27.2783 1.55201 27.7599 1.90706 28.1149ZM3.2459 24.8829H15.4169H15.4169C15.919 24.8829 16.4006 25.0824 16.7556 25.4374C17.1107 25.7925 17.3101 26.274 17.3101 26.7762C17.3101 27.2783 17.1107 27.7599 16.7556 28.1149C16.4006 28.47 15.919 28.6694 15.4169 28.6694H15.4169H3.2459V24.8829Z"
						fill="#D12627"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M15.1462 20.5554C14.6441 20.5554 14.1625 20.356 13.8075 20.0009C13.4524 19.6459 13.2529 19.1643 13.2529 18.6622C13.2529 18.1601 13.4524 17.6785 13.8075 17.3234C14.1625 16.9684 14.6441 16.7689 15.1462 16.7689V18.6622V20.5554ZM15.1463 16.7689H25.1535C25.1535 16.7689 25.1535 16.7689 25.1536 16.7689C25.6556 16.7689 26.1372 16.9684 26.4922 17.3234C26.8473 17.6785 27.0467 18.1601 27.0467 18.6622C27.0467 19.1643 26.8473 19.6459 26.4922 20.0009C26.1372 20.356 25.6556 20.5554 25.1536 20.5554C25.1535 20.5554 25.1535 20.5554 25.1535 20.5554H15.1463V16.7689Z"
						fill="#D12627"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M1.89327 20.5555C1.39114 20.5555 0.90958 20.356 0.554524 20.0009C0.199468 19.6459 -1.39698e-08 19.1643 0 18.6622C1.39698e-08 18.1601 0.199468 17.6785 0.554524 17.3234C0.909581 16.9684 1.39114 16.7689 1.89327 16.7689L1.89327 18.6622V20.5555ZM1.89336 16.7689H9.19587C9.1959 16.7689 9.19593 16.7689 9.19596 16.7689C9.69805 16.7689 10.1796 16.9684 10.5346 17.3234C10.8897 17.6785 11.0891 18.1601 11.0891 18.6622C11.0891 19.1643 10.8897 19.6459 10.5346 20.0009C10.1796 20.356 9.69805 20.5554 9.19596 20.5555C9.19593 20.5555 9.1959 20.5555 9.19587 20.5555H1.89336V16.7689Z"
						fill="#D12627"
					/>
				</svg>
			</div>
			<h1 class="header_title">Book My Dine</h1>
		</div>
		<div class="info">
			<div class="left">
				<div class="info_name">
					<b><%= res_name %> </b>
				</div>
				<div class="info_address"><%= res_address %></div>
				<div class="info_address"><%= res_phone %></div>
			</div>
			<div class="right">
				<div class="info_name">FROM <%= from_date %></div>
				<div class="info_name">TO <%= to_date %></div>
			</div>
		</div>
		<div class="title">Earning Summary Report</div>

		<table style="width: 100%; border-collapse: collapse">
			<thead>
				<tr class="">
					<th class="table_header_th">ID</th>
					<th class="table_header_th">Type</th>
					<th class="table_header_th">Earning</th>
					<th class="table_header_th">Date</th>
				</tr>
			</thead>
			<tbody>
				<% data.forEach(order => { %>
				<tr class="table_row">
					<td><%= order._id %></td>
					<td><%= order.type %></td>
					<td><%= order.earning %> ₹</td>
					<td><%= order.date %></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</body>
</html>
